<a href="https://colab.research.google.com/github/sdkim96/company2/blob/master/060%EC%9D%BC%EC%B0%A8_%EC%8B%A4%EC%8A%B5_2_%EC%99%84%EB%A3%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sqlite3

In [4]:
print(sqlite3.sqlite_version_info)

(3, 31, 1)

In [80]:
import sqlite3
print(sqlite3.sqlite_version_info) 

# 예외처리할거기 때문에 try, except문으로 접근함
try: 
  conn = sqlite3.connect("sqlite_db") #.connect() -> 새로운 디비 생성함
  cursor = conn.cursor()
  # cursor는 행 집합의 한 행을 가리키는 포인터 같은 느낌임. 마치 컴퓨터의 커서역할
  sql = "create table if not exists text_table(name text(10), phone text(15), addr text(50))"
  # text_table이 없으면 그런 이름을 가진 새로운 디비 테이블을 만들어라. 칼럼명, 자료형, 제약조건 순으로
  cursor.execute(sql)

  ############### 1번째 활동 #################
  cursor.execute("insert into text_table values('홍길동','010-1111-1111', '서울시')")
  cursor.execute("insert into text_table values('이순신','010-2222-2222', '해남시')")
  cursor.execute("insert into text_table values('홍길동','010-1111-2111', '평양시')")
  # 위 3가지의 sql문을 실행함, 위 3가지의 sql문은 CRUD의 C에 속함. C는 insert명령어 사용하기 때문임.
  # 레코드 입력

  conn.commit()
  # 얘는 커서를 안쓰는게, 위의 sql문을 제출하는거 때문임. 여기서 conn은 우리 첫번째 디비모델의 객체임.


  ############# 2번째 활동 ######################
  cursor.execute("select * from text_table")
  # 텍스트 테이블에서 모든 요소를 다 가져와서,
  rows = cursor.fetchall()
  # rows 변수에 모든 레코드 요소를 다 집어넣어라 (fetch all)

  for row in rows:
    # 각각의 rows 안의 row에 대해서
    print(row)
    # 레코드 하나씩 프린트해라. -> 이 결과값은 보통 자료형이 튜플의 형태로 들어감.

  print('이름 \t전화번호 \t주소')
  for row in rows:
    print(row[0], '\t',row[1], '\t',row[2])
    # 이번엔 튜플 형태가 아니라 코더가 정해준 형식대로 프린트하게됨

except Exception as e:
  print('db 연동 실패 :', e)
  # 예외처리
  con.rollback() # 실행 취소
finally:
  cursor.close()
  conn.close()
# 이거 중요함. 만약 cursor.close()를 하지 않는다면, 코더가 나중에 잘못해서 cursor에 대해 무엇인가를
# 실행한다면, 잘못된 값을 집어넣어서 db가 엉망이 될 가능성이 있음.

(3, 31, 1)
('홍길동', '010-1111-1111', '서울시')
('이순신', '010-2222-2222', '해남시')
('홍길동', '010-1111-2111', '평양시')
('홍길동', '010-1111-1111', '서울시')
('이순신', '010-2222-2222', '해남시')
('홍길동', '010-1111-2111', '평양시')
('홍길동', '010-1111-1111', '서울시')
('이순신', '010-2222-2222', '해남시')
('홍길동', '010-1111-2111', '평양시')
('홍길동', '010-1111-1111', '서울시')
('이순신', '010-2222-2222', '해남시')
('홍길동', '010-1111-2111', '평양시')
('홍길동', '010-1111-1111', '서울시')
('이순신', '010-2222-2222', '해남시')
('홍길동', '010-1111-2111', '평양시')
('홍길동', '010-1111-1111', '서울시')
('이순신', '010-2222-2222', '해남시')
('홍길동', '010-1111-2111', '평양시')
('홍길동', '010-1111-1111', '서울시')
('이순신', '010-2222-2222', '해남시')
('홍길동', '010-1111-2111', '평양시')
이름 	전화번호 	주소
홍길동 	 010-1111-1111 	 서울시
이순신 	 010-2222-2222 	 해남시
홍길동 	 010-1111-2111 	 평양시
홍길동 	 010-1111-1111 	 서울시
이순신 	 010-2222-2222 	 해남시
홍길동 	 010-1111-2111 	 평양시
홍길동 	 010-1111-1111 	 서울시
이순신 	 010-2222-2222 	 해남시
홍길동 	 010-1111-2111 	 평양시
홍길동 	 010-1111-1111 	 서울시
이순신 	 010-2222-2222 	 해남시
홍길동 	 010-1111-2111 	 평양시
홍길동 	 010-1111-1111 	 서울시
이순신 	 010-2222-2222 	 해남시
홍길동 	 010-1111-2111 	 평양시
홍길동 	 010-1111-1111 	 서울시
이순신 	 010-2222-2222 	 해남시
홍길동 	 010-1111-2111 	 평양시
홍길동 	 010-1111-1111 	 서울시
이순신 	 010-2222-2222 	 해남시
홍길동 	 010-1111-2111 	 평양시

In [81]:
# 두번째 예제는 sqlite_db2라는 이름을 가진 디비에 대한 sql내용임.
try:
  conn2 = sqlite3.connect("sqlite_db2")
  cursor2 = conn2.cursor()
  sql2 = """create table if not exists goods(
    code integer primary key,
    name text(30) unique not null,
    su integer default 0,
    dan real default 0.0 )
    """
  # goods 테이블을 만들어라. 이름 자료형 제약조건 순으로
  # 여기서 중요한건 unique 제약조건 vs primary key 제약조건의 차이인데,
  # 'unique'은 단순히 열의 값을 고유하게 유지하는 제약 조건이고, 
  # 'primary key'는 열의 값을 고유하게 유지하면서 !!!!!!!행을 식별하는!!!!!!!!! 주요 식별자로 사용되는 열이다.

  cursor2.execute(sql2)

  ############### 1번째 활동 #################
  # cursor2.execute("insert into goods values(1,'냉장고', 2, 8500000)")
  # cursor2.execute("insert into goods values(2,'세탁기', 3, 5500000)")
  # cursor2.execute("insert into goods(code, name) values(3, '전자레인지')")
  # cursor2.execute("insert into goods(code, name, dan) values (4,'HDTV',1500000)")
  # conn2.commit()

  # 위 5행의 C문은 한번 실행되고 나서는 주석처리되어야 한다. 만약 한번 더 만들려고 하면 goods.code
  # 에서 오류가 나게 됨. 첫번째 디비랑의 차이는 결국 unique와 primary key 제약조건 때문이다.

  ############### 2번째 활동 #################
  sql2 = "select * from goods"
  # goods 테이블에서 모든 요소를 다 가져와서
  cursor2.execute(sql2)
  rows2 = cursor2.fetchall() # 모든 레코드 가져오기
  for row in rows2:
    print(row[0] , row[1] , row[2] , row[3])
    print('검색된 레코드 수:',len(rows2))

  ############### 3번째 활동 #################
  name = input("상품명 입력:")
  sql2 = f"select * from goods where name like '%{name}%'"
  # 상품명을 입력받는데, 만약 어떤 레코드의 name 값이 입력값을 포함한 값이 있으면 그 레코드를 튜플형식으로 가져오는거다.
  # CRUD의 R라고 할 수 있다.
  cursor2.execute(sql2)
  rows2 = cursor2.fetchall()

  if rows2: 
    for row in rows2:
      print(row)
  else:
    print('검색된 결과 없음')

except Exception as e:
  print('db 연동 실패 :', e)
  conn2.rollback()

1 냉장고 8 40000.0
검색된 레코드 수: 5
2 세탁기 3 5500000.0
검색된 레코드 수: 5
3 전자레인지 0 0.0
검색된 레코드 수: 5
4 HDTV 0 1500000.0
검색된 레코드 수: 5
5 허허허 2 50000.0
검색된 레코드 수: 5
상품명 입력:허
(5, '허허허', 2, 50000.0)

In [82]:
############### 4번째 활동 ################# C of CRUD
code = int(input('code 입력 : '))
name = input('name 입력 : ')
su = int(input('su 입력 : '))
dan = float(input('dan 입력 : '))
# 각각의 row값의 속성을 입력받아서

sql2 = f"insert into goods values({code},'{name}',{su},{dan})"
# 새로운 레코드를 생성하는 활동 C of CRUD
cursor2.execute(sql2)
conn2.commit()

code 입력 : 6
name 입력 : 랄랄랄
su 입력 : 5
dan 입력 : 90000

In [84]:
############### 5번째 활동 ################# U of CRUD
modify_code = int(input('수정할 code 입력 : '))
modify_name = input('수정할 name 입력 : ')
modify_su = int(input('수정할 su 입력 : '))
modify_dan = float(input('수정할 dan 입력 : '))
# 사용자로부터 수정할 code, name, su, dan을 입력받습니다.

sql2 = f"update goods set su ={modify_su}, dan={modify_dan}, name='{modify_name}' where code = {modify_code}"
cursor2.execute(sql2)
# 이 입력을 통해 SQL UPDATE 쿼리를 생성
conn2.commit()

수정할 code 입력 : 1
수정할 name 입력 : 랄라
수정할 su 입력 : 52
수정할 dan 입력 : 669990

In [85]:
############### 6번째 활동 ################# D of CRUD
# 사용자에게 삭제할 'code'를 입력 받음
delete_code = int(input('삭제할 code 입력 : ')) 

# 사용자가 입력한 'code'와 일치하는 'goods' 테이블의 레코드를 삭제하는 SQL 쿼리를 생성
sql2 = f"delete from goods where code = {delete_code}"
# SQL 쿼리 실행
cursor2.execute(sql2)
# 데이터베이스에 대한 변경사항 확정
conn2.commit()

삭제할 code 입력 : 6

In [86]:
############### 7번째 활동 ################# R of CRUD
# 'goods' 테이블에서 모든 레코드를 선택하는 SQL 쿼리 실행
sql2 = "select * from goods"
cursor2.execute(sql2)
# 모든 결과를 받아옴
rows2 = cursor2.fetchall()

# 각 행에 대해 순회하며 각 필드를 출력
for row in rows2:
  print(row[0], row[1], row[2], row[3])
# 검색된 레코드 수를 출력
print('검색된 레코드 수 :',len(rows2))

1 랄라 52 669990.0
2 세탁기 3 5500000.0
3 전자레인지 0 0.0
4 HDTV 0 1500000.0
5 허허허 2 50000.0
검색된 레코드 수 : 21

In [87]:
############### 8번째 활동 ################# R of CRUD
# 사용자로부터 상품명을 입력 받음
name = input("상품명 입력:")
# 입력된 상품명이 포함된 모든 레코드를 검색하는 SQL 쿼리를 생성
sql = f"select * from goods where name like '%{name}%'"
# SQL 쿼리 실행
cursor2.execute(sql)
# 모든 결과를 받아옴
rows = cursor2.fetchall()

# 결과가 있을 경우 각 행을 출력, 없을 경우 메시지 출력
if rows: # null false
  for row in rows:
    print(row)
else:
  print( '검색된 레코드 없음')

상품명 입력:랄
(1, '랄라', 52, 669990.0)